<!DOCTYPE html>
<html>

<head>
	<title>Магазин</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.logo {
			width: 30vw;
			margin: 0 auto;
		}

		.card {
			width: 15vw;
			margin: 0 auto;
			border: solid #000000 1px;
		}

		a {
			text-decoration: none;
			color: black;
			display: block;
			width: 100%;
			height: 100%;
		}
	</style>
</head>

<body>
	<div align="center">
		<div class='logo'></img url=''></div>
		<div>
			<p>Магазин</p>
		</div>
		<div>
			<p>Товары</p>
		</div>
	</div>
	<div class='main'>
		<div id="popup"
			style="width:30vw;height:30vh;position:fixed; background-color:gray;left:35vw;top:30vh;display:<%=display %>;">
			<p>
				<%= Id %>
			</p>
		</div>
		<div id="basket_user"></div>
		<button><a id="a_buy_all" href="/basket/buy">Купить всё</a></button>
		<%for(i of Results){%>
			<div class='card'>
				<div align="center" style='width:50%; margin:0 auto;'>
					<%=i.Name%>
				</div>
				<div style='height:100px; background-color:#808080; margin:5px 0 0 0;'><a href='/<%=i.Name%>'>img</a>
				</div>
				<button
					style='border:1px solid transparent; background-color:#ad1a1a;margin:5px auto 0 auto; display:block; font-size:3vw;'>
					<a href='/<%=i.Name%>/buy'>Купить</a>
				</button>
				<input type="number" max="<%=i.Count%>" name="count" id="<%=i.Id%>" value="1" placeholder="Количество"
					onchange="update_count(<%=i.Id%>)" style="width:14vw" />
				<button
					style='border:1px solid transparent; background-color:#ad1a1a;margin:5px auto 0 auto; display:block; font-size:3vw;'
					onclick="update_basket(<%=i.Id%>,'<%=i.Name%>','add')">
					<a href='/#'>В корзину</a>
				</button>
				<div align="center" style='margin:5px auto 0 auto;'>
					Осталось <%=i.Count%> штук(и)
				</div>
			</div>
			<%}%>
	</div>
	<script>
		setTimeout(function () { document.getElementById("popup").style.display = "none"; }, 2000);
		let a = document.getElementById("a_buy_all");
		if (localStorage.getItem("id") == null) {
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/id", "true");
			xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
			xhr.send(JSON.stringify({ "id": -1 }));
			xhr.onload = function () { localStorage.setItem("id", JSON.parse(xhr.response).id); }
		}
		else {
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/id", "true");
			xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
			xhr.send(JSON.stringify({ "id": localStorage.getItem("id") }));
			xhr.onload = function () { localStorage.setItem("id", JSON.parse(xhr.response).id); }

		}
		a.href += '?id=' + localStorage.getItem("id");
		var xhr2 = new XMLHttpRequest();
		xhr2.open("POST", "/basket_user", "true");
		xhr2.setRequestHeader('Content-type', 'application/json; charset=utf-8');
		xhr2.send(JSON.stringify({ "id": localStorage.getItem("id") }));
		xhr2.onload = function () { start_basket(JSON.parse(xhr2.response)) }
		function update_count(id) {
			let input = document.getElementById(id);
			if (input.value = "")
				input.value = 1;
			if (parseInt(input.value) > parseInt(input.max))
				input.value = input.max;
			else if (parseInt(input.value) <= 0)
				input.value = 1;
		}

		function start_basket(basket) {
			var con = document.getElementById("basket_user");
			con.innerHTML = '';
			for (let i = 0; i < basket.basket.length; i++) {
				con.innerHTML += "<div><div><p style='margin:0 auto;width:10vw;'>" + basket.basket[i] + "</p></div>" +
					"<button style='float:left;' onclick=\"update_basket('basket_" + i + "','" + basket.basket[i] + "','delete')\">Удалить</button>" +
					"<input style='float:left;' type='number' max='" + i + "' name='count' id='basket_" + i + "' placeholder='Количество' style='width:14vw' />" +
					"<button style='float:left;' onclick=\"update_basket('basket_" + i + "','" + basket.basket[i] + "','add')\">Добавить</button>" +
					"<div><p style='margin:0 auto;width:10vw;'>" + basket.count[basket.basket.indexOf(basket.basket[i])] + "</p></div></div>";
			}
		}
		function update_basket(product_id, name, method) {
			var xhr = new XMLHttpRequest();
			let input = document.getElementById(product_id);
			xhr.open("POST", "/update_basket", "true");
			xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
			xhr.send(JSON.stringify({ "name": name, id: localStorage.getItem("id"), "count": parseInt(input.value), "method": method }));
			xhr.onload = function () { start_basket(JSON.parse(xhr.response)); };
		}
	</script>
</body>

</html>