<!DOCTYPE html>
<html>

<head>
    <title>Магазин</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <style>
        .card_info {
            width: 70vw;
            margin: 0 auto;
            background-color: #872720;
            padding: 1em 0 1em 0;
        }

        .card_info p:first-child {
            margin-top: 0;
            background-color: #872720;
        }
    </style>
</head>

<body>
    <div>
        <a href="/">
            <img src="" class="img_header" />
        </a>
    </div>
    <div class="block">
        <h1 class="text" style="color: #a10202;">Магазин</h1>
    </div>
    <div class="block">
        <p class="text" style="color: #ad1a1a;">Корзина</p>
    </div>
    <div class="card_info">
        <p class="text">
            <%=cookie.Name%>
        </p>
        <img style="width:60vw; height: 20vw; margin:0 auto; display:block;" src="" />
        <p style="font-size: 2vw;">dfshjhsdfsdfjhsdfsddfjk</p>
        <p class="text" style="margin-bottom: 0;">
            <%=cookie.Count%> штук(-и)
        </p>
        <a id="a_<%=i.Id%>" href="/<%=i.Name%>/buy?count=1" class="buy">
            <button>Купить</button>
        </a>
        <input type="hidden" id="<%=cookie.Id%>" value="1" max="<%=cookie.Count%>">
        <div class="buy">
            <button style="margin: 0.5vw auto 0 auto;"
                onclick="update_basket('<%=cookie.Id%>','<%=cookie.Name%>',false)">
                В корзину
            </button>
        </div>
    </div>
    <div class="div_footer">
        <div class="footer">
            <p><b>Магазин</b></p>
            <a>Доставка</a>
            <a>Оплата</a>
            <a>Контакты</a>
            <a>О магазине</a>
        </div>
        <div class="footer">
            <p><b>Соц. сети</b></p>
            <a>YouTube</a>
            <a>Telegram</a>
            <a>Email</a>
        </div>
    </div>
    <script src="./../script_cookie.js"></script>
</body>

</html>