    <div class="block">
        <p class="text" style="color: #ad1a1a;">Корзина</p>
    </div>
    <div class="card_info">
        <p class="text">
            <%=cookie.Name%>
        </p>
        <img style="width:60vw; height: 20vw; margin:0 auto; display:block;" src="" />
        <p style="font-size: 2vw;">dfshjhsdfsdfjhsdfsddfjk</p>
        <p class="text" style="margin-bottom: 0;">
            <%=cookie.Count%> штук(-и)
        </p>
        <a id="a_<%=i.Id%>" href="/<%=i.Name%>/buy?count=1" class="buy">
            <button>Купить</button>
        </a>
        <input type="hidden" id="<%=cookie.Id%>" value="1" max="<%=cookie.Count%>">
        <div class="buy">
            <button style="margin: 0.5vw auto 0 auto;"
                onclick="update_basket('<%=cookie.Id%>','<%=cookie.Name%>',false)">
                В корзину
            </button>
        </div>
    </div>
    <script src="./../script_cookie.js"></script>