<div class="button">
    <button>
        <a href="/basket">
            <p>Корзина</p>
        </a>
    </button>
</div>
<div class="block">
    <p class="text" style="color: #ad1a1a;">Товары</p>
</div>
<div>
    <% for(i of Results) {%>
        <div class="card">
            <a href="/<%=i.Name%>/info">
                <p class="text">
                    <%=i.Name%>
                </p>
                <img src="" class="img_header" />
                <p class="text" style="font-size: 1.5vw;">Осталось <%=i.Count%> штук</p>
            </a>
            <div class="counter">
                <button onclick="change('<%=i.Id%>','delete',false)">-</button>
                <input type="number" max="<%=i.Count%>" id="<%=i.Id%>" value="1" onchange="check('<%=i.Id%>')"
                    readonly />
                <button onclick="change('<%=i.Id%>','add',false)">+</button>
            </div>
            <a id="a_<%=i.Id%>" href="/<%=i.Name%>/buy" class="buy">
                <button>Купить</button>
            </a>
            <div class="buy">
                <button style="margin: 0.5vw auto 0 auto;" onclick="update_basket('<%=i.Id%>','<%=i.Name%>',false)">
                    В корзину</button>
            </div>
        </div>
        <% } %>
</div>